<style type="text/css">
.example
{
position: relative;
width: 50%;
padding: 20px;
background: url('/images/grid-100.gif') 100% 100%;
overflow: hidden;
}
.horizontal
, .horizontal ul
{
list-style-type: none;
width: 100%;
margin: 0;
padding: 0;
}
.horizontal:after
, .horizontal ul:after
{
content: '';
display: block;
clear: left;
}
.horizontal li
{
float: left;
margin: 0 1em 0.5em 0;
//margin: 20%;
padding: 0;
}
/*****************************/
/* ????? ????????? ????????? ??????? ? hover ? IE. */
.framed a
{
cursor: pointer;
//cursor: hand;
}
.framed a:hover
{
background-color: transparent;
}
/* ??? ??????????? ?????????????? ???????? margin-bottom ? IE. */
.framed.horizontal
{
//padding-bottom: 10px;
}
.framed .f
{
position: relative;
z-index: 1;
display: block;
float: left;
min-height: 10px;
//height: 20px;
color: #000000;
}
.framed .c
{
position: relative;
z-index: 2;
display: block;
margin: 0 0 -10px 0;
/* ??????? ?? ?????? ??????. ?????? ?????? ?? 2px, ??????? ???????? ????. */
padding: 2px 15px 4px 15px;
}
.framed .t
, .framed .b
{
position: absolute;
z-index: 1;
top: 0;
//top: auto;
bottom: 0;
left: 0;
right: 11px;
overflow: hidden;
//width: 100%;
//height: 100%;
}
.framed .b
{
top: auto;
bottom: -10px;
height: 10px;
}
.framed .r
{
left: auto;
//left: -11px;
right: 0;
//margin-left: 100%;
width: 11px;
}
.framed .t *
, .framed .b *
{
position: absolute;
top: 0;
left: 0;
/* ????? ?????? ? ?????? ???????????. ????? ??????? ? ???????. */
width: 800px;
height: 400px;
background: url('/images/framed00.png') 0 0 no-repeat;
/* IE 7 ??? ????? ?????????? png, ??????? ?????????? ???, ??????? ?? ?? ????????. */
-background-image: none;
-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=framed.png,sizingMethod=crop);
}
.framed .t *
{
margin-top: -10px;
}
.framed .l *
{
//width: 100%;
margin-left: -11px;
}
/* ????????????? ????? ?????????? ? ??????. ? ?????? ?????? ?? hover. */
.framed a:hover .t *
, .framed a:hover .b *
{
top: -200px;
zoom: 1;
}
</style>